{
  "env": {
    "jasmine": true,
    "node": true,
    "browser": true,
    "builtin": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "classes": true,
      "jsx": true
    }
  },
  "extends": [
    "defaults/configurations/eslint",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
	"rules": {
		"no-console": 0,
    "react/display-name": 0 // disabled as stateless components fail this rule
	}
}
