@import "vars";

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

*:focus {
	outline: none;
}

*:disabled {
	cursor: not-allowed;
}

.container {
	padding: 10px;
}

h1 {
	margin: 0;
}

button {
	@border-color: #D4D4D4;

	min-width: 60px;
	padding: 10px;
	background-color: #F4F4F4;
	.standard-border(@border-color);
	.standard-border-hover(@border-color);

	font-size: 0.8rem;
	color: #121212;
	text-shadow: 0px 1px 1px #FFFFFF;

	cursor: pointer;

	&.green {
		@border-color: #81D281;

		background-color: #BBEEB8;
		border-color: @border-color;
		color: #121212;

		.standard-border-hover(@border-color);
	}

	&.red {
		@border-color: #D4A5A7;

		background-color: #FBE0DF;
		border-color: @border-color;
		color: #121212;

		.standard-border-hover(@border-color);
	}
}

.hidden {
	display: none !important;
}
